@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

:root {
  /* Colors */
  --light-blue: #d0d6f9;
  --medium-grey: #8e8f93;
  --charcoal-grey: #505259;
  --very-dark-navy: #0b0d17;

  /* Numerical values */
  --nav-list-height: 6em;

  --mobile-nav-width: 60%;

  /* Font sizes */
  --heading-xl-font-size: 144px;
  --heading-l-font-size: 100px;
  --heading-m-font-size: 56px;
  --heading-s-font-size: 32px;
  --heading-xs-font-size: 28px;
  --subheading-l-font-size: 28px;
  --subheading-s-font-size: 14px;
}

.heading-xl,
.heading-l,
.heading-m,
.heading-s,
.subheading-l {
  font-family: "Bellefair", serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0px;
}

.heading-xl {
  font-size: var(--heading-xl-font-size);
  line-height: 171.9%;
}

.heading-l {
  font-size: var(--heading-l-font-size);
  line-height: 114.6%;
}

.heading-m {
  font-size: var(--heading-m-font-size);
  line-height: 64.2%;
}

.heading-s {
  font-size: var(--heading-s-font-size);
  line-height: 36.7%;
}

.heading-xs,
.subheading-s {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.heading-xs {
  font-size: var(--heading-xs-font-size);
  line-height: 33.6%;
}

.subheading-l {
  font-size: var(--subheading-l-font-size);
  line-height: 32.1%;
}

.subheading-s {
  font-size: var(--subheading-s-font-size);
  line-height: 16.8%;
}

html {
  height: 100%;
  margin: 0;

  font-family: "Barlow", sans-serif;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0px;

  color: white;

  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
}

a {
  text-decoration: none;
}

nav,
.nav-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  line-height: 19.2%;
  letter-spacing: 2px;
}

nav,
.nav-list,
.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;

  color: white;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;

  /* padding-right: 20em; */
  padding-left: 5em;
  margin-top: 3.5em;
}

.clickable {
  cursor: pointer;
}

.nav-list {
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  justify-content: flex-end;

  height: var(--nav-list-height);
  text-transform: uppercase;
}

.nav-link {
  height: 100%;

  margin-left: 2em;
  margin-right: 2em;

  background-clip: border-box;
}

.nav-word {
  padding-left: 0.5em;
}

.nav-number {
  font-weight: 700;
}

.nav-toggle {
  display: none;
  padding-right: 2em;
}

.page-title {
  font-size: 2em;
  text-transform: uppercase;

  align-self: flex-start;

  display: flex;
  flex-direction: row;
  column-gap: 0.8em;
}

.page-number {
  font-family: "Barlow", sans-serif;
  color: var(--charcoal-grey);
  font-weight: bolder;
}

.nav-close-button {
  display: none;
  margin-bottom: 3em;
}

.main {
  margin-top: calc(var(--nav-list-height) + 2em);

  padding-top: 4em;
  padding-left: 10em;
  height: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
}

.content {
  /* padding-bottom: 7em; */

  color: var(--light-blue);

  display: none;
  flex-flow: row wrap;
  /* justify-content: center; */
  align-items: center;
  column-gap: 10em;
  row-gap: 5em;
}

.content-visible {
  display: flex;
}

@media screen and (min-width: 500px) {
  .nav-list {
    padding-right: 8em;
    padding-left: 10rem;
  }

  .nav-link {
    width: fit-content;
  }

  .nav-link.active {
    border-bottom: 2px solid white;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 2px solid #9da2ad;
  }
}

@media screen and (max-width: 1024px) {
  .heading-xl {
    font-size: calc(var(--heading-xl-font-size) * 2 / 3);
  }

  .heading-l {
    font-size: calc(var(--heading-l-font-size) * 4 / 5);
    text-align: center;
  }

  .heading-m {
    font-size: calc(var(--heading-m-font-size) - 10px);
  }

  .logo {
    padding-left: 1em;
    padding-right: 1em;
  }

  nav {
    padding-left: 0;
    margin-top: 0;
    /* column-gap: 2em; */
  }

  .nav-list {
    /* row-gap: 2rem; */
    width: 100%;

    padding-right: 1em;
    padding-left: 0.5em;
  }

  .nav-link {
    margin-left: 1em;
    margin-right: 1em;
  }

  .main {
    margin-top: var(--nav-list-height);
    row-gap: 0;
    padding: 2em;
    align-items: center;
  }

  .page-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 500px) {
  .heading-m {
    font-size: calc(var(--heading-m-font-size) / 2);
  }

  .heading-s {
    font-size: calc(var(--heading-s-font-size) - 10px);
  }

  .crew-info {
    row-gap: 0;
  }

  nav {
    margin-top: 1em;
    /* column-gap: 0; */
  }

  .nav-close-button {
    display: block;
    align-self: flex-end;
  }

  .nav-list {
    /* display: none; */
    position: fixed;
    right: -100%;
    top: 0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex-wrap: wrap;/ */
    row-gap: 2em;
    width: var(--mobile-nav-width);
    height: 100%;
    padding-top: 1em;
    /* padding-right: 1.5em; */
    padding-left: 0;

    transition: right 0.4s;
  }

  .nav-list-visible {
    right: 0 !important;
  }

  .nav-link {
    justify-content: flex-start;
    height: fit-content;
    width: 90%;

    margin-left: 0;
    /* padding-right: 2em; */
    padding-left: 1em;
    margin-right: 5em;
  }

  .nav-link.active {
    border-right: 2px solid white;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-right: 2px solid #9da2ad;
  }

  .nav-toggle {
    display: block;
  }

  .main {
    margin-top: var(--nav-list-height);
    align-items: center;

    row-gap: 0;
    padding: 1em;
  }

  .page-title {
    font-size: 1em;
    align-self: auto;
  }
}
