html {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  background-repeat: repeat-y;
}

.content {
  padding-top: 7em;
}

.dest-image {
  width: 480px;
  height: 480px;
  /* padding-right: 3em; */
}

.dest-info,
.dest-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2em;
}

.dest-info {
  max-width: 500px;
}

.dest-nav-item {
  /* margin-right: 1.5em; */
  padding: 1em 0.5em;
  cursor: pointer;
}
.dest-nav-item:hover {
  border-bottom: 2px solid #9da2ad;
}
.dest-nav-item.active {
  color: white;
  border-bottom: 2px solid white;
}

.dest-title {
  text-transform: uppercase;
}

.dest-nav,
.dest-stats {
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1em;
}

.dest-stat {
  /* row-gap: 1em; */
}

.dest-stats {
  flex-wrap: wrap;
}

.dest-stats-value {
  color: white;
}

hr {
  height: 0.1;
  color: var(--light-blue);
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 1024px) {
  html {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    text-align: center;
  }

  .dest-info {
    align-items: center;
  }

  .dest-info {
    width: 100%;
    row-gap: 1em;
  }
  .content {
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 0;
    row-gap: 0;
  }

  .dest-image {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 300px;
    height: 300px;
  }

  /* .dest-nav {
    margin-top: 1.5em;
  } */

  hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width: 500px) {
  html {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    /* background-size: contain; */
    /* background-size: 100vw 100vh; */
  }

  .content > * {
    padding-left: 1em;
    padding-right: 1em;
  }

  .dest-image {
    width: 150px;
    height: 150px;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .dest-stat {
    align-items: center;
  }

  .dest-stats {
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
  }

  .dest-stats > * {
    /* padding-left: 1em; */
    /* padding-right: 1em; */
  }
}
