html {
  background-image: url(../assets/home/background-home-desktop.jpg);
}

.promo {
  position: fixed;
  /* inset: 0; */
  bottom: 5em;

  left: 10em;
  right: 10em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.words {
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  text-align: center;
}

.intro,
.spaaace,
.explore {
  text-transform: uppercase;
}

.intro,
.paragraph {
  color: var(--light-blue);
}

.explore {
  background: white;
  border-radius: 50%;
  padding: 4em 2em;
  color: black;
}

.explore:hover,
.explore:focus {
  box-shadow: 0 0 0 80px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1024px) {
  html {
    background-image: url(../assets/home/background-home-tablet.jpg);
  }

  .promo {
    bottom: 10em;

    left: 2em;
    right: 2em;

    justify-content: center;
    row-gap: 2em;
  }

  .words {
    width: 100%;
    align-items: center;
  }

  .explore {
    margin-top: 1em;
    padding: 4em 2em;
  }

  .paragraph {
    padding-left: 4em;
    padding-right: 4em;
  }
}

@media screen and (max-width: 500px) {
  html {
    background-image: url(../assets/home/background-home-mobile.jpg);
  }

  .promo {
    position: static;
    margin-top: var(--nav-list-height);
    align-items: space-between;
    row-gap: 1em;
  }

  .words {
    width: 100%;
    align-items: center;
  }

  /* .intro {
    font-size: 1em;
  } */

  .paragraph {
    padding-left: 1em;
    padding-right: 1em;
  }

  .explore {
    padding: 3.25em 1.5em;
    /* font-size: 1.2em; */
    /* margin-bottom: 20em; */
  }
}
